<% matches.forEach( function (match) { %>
  <div class='match-pct'>
    <b><%= (100 * match.count / match.total).toFixed(2) %>%:</b>
  </div>
  <div class='panel'>
    <a data-id="<%= match.id %>" href="#/activity/<%= match.id %>"
      data-title="<%= match.title %>" id="match">
      <%= match.title %>
    </a>
  </div>
  <div class='vote-buttons'>
    <button class='vote-up'>^</button>
    <button class='vote-up'>v</button>
  </div>
<% }) %>
